@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}
header{
  background-color: rgba(14, 52, 115);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 30px;
  margin-bottom: 50px;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
}
.logo{
  color: white;
  font-weight: 700;
}
.nav-menu-links {
  display: flex;
  gap: 16px;
  list-style: none;
}
ul li {
  cursor: pointer;
  color: white; 
}

ul li a {
  text-decoration: none;
  color: white;  
  font-weight: 700;
}
input{
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 16px;
}

.hero{
    height: 600px;
    background-image: url(./images/hero-classs.jpg);
    background-size: cover;
    gap: 30px;
    position: relative;
    color: white;
}
.hero-content{
    position: absolute;
    top: 210px;
    left: 400px;
}
h1 {
  font-family: "Dancing Script", cursive;
  font-size: 56px;
  color: #ffffff;
  letter-spacing: 2px;
  padding-bottom: 10px;
  animation: zoomin 1.5s ease-out forwards ;
}
h2{
  font-size: 2rem;
  color: #0b0101;
  font-weight: 800;
  letter-spacing: 3px;
  font-style: italic;
  text-align: center;
  margin-bottom: 2rem;
}
h3{
  color: white;
  font-weight: 700;
}
h4{
  padding-bottom: 4rem;
  font-size: 2rem;
  font-weight: 700;
}
p{
    font-weight: 600;
    padding-bottom: 10px;
    animation: zoomin 1.5s ease-out forwards ;
}
button {
  background-color: #100a41;
  width: 100px;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease-out;
  animation: zoomin 2s ease-out forwards ;
}
button:hover {
  background-color: #7263e7;
}
.contact{
  display: flex;
  flex-direction: column;
}
.contact a{
  color: white;
  font-weight: 700;
}
footer{
  background-color: rgba(14, 52, 115);
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin-top: 50px;

}

.about{
  margin-top: 2rem;
}
.grid-box{
  width: 80rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin: 0 auto;
}
.photo-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20rem 20rem;
  gap: 1.5rem;
}
.photo-grid img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transition: all 0.4s;
}
.photo-grid img:hover{
  transform: scale(1.02);
}

.about-text{
  text-align: center;
  padding-top: 10rem;
}
@keyframes zoomin {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}